html,
body {
    height: 100%;
    width: 100%;
    background: #aeee5a;
}

body,
p,
div {
    padding: 0;
    margin: 0;
}

.center {
    text-align: center;
}

.title_size {
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 20px #666;
}

.title_size .title_sub {
    font-size: 20px;
}

.title_content{
	height: 30%;
}

#main-bg {
    height: 100%;
    width: 100%;
    position: relative;
}

#content-bg {
    bottom: 50px;
    height: 70%;
    width: 90%;
    background: url('../img/content-bg.jpg') no-repeat center fixed;
    border: 4px solid #39333c;
    background-size: cover;
    margin: 0 50px auto;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    border-radius: 10px;
}

#mid-part,
#left-part,
#right-part {
    height: 100%;
    border: solid 4px #39333c;
    flex: 1;
    box-sizing: border-box;
}
