html, body ,div,p,ul ,li{
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
    font-family: "Microsoft Yahei";
    overflow: hidden;
}
a {
    outline: medium none;
    text-decoration: none;
}
img {
    border: 0 none;
    vertical-align: top;
}
ul, li {
    list-style: outside none none;
}
span{
    display: inline-block;
}
.f1{float: left;}
.f2{float: right;}
.clr:after{
    display:block;clear:both;content:"";visibility:hidden;height:0
}
.clr{
    zoom:1
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.position{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.content{
    position: relative;
    width: 400px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
/* 视频 */
.video{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.video video{
    position: absolute;
    top: 0;
    left: -100%;
   /*  width: 300%; */
    height: 100%;
}
.all_info{
    top: 20%;
    left: 50%;
    height: 80%;
    margin-left: -50%;
    text-align: center;
}
.all_info li{
    padding: 0 5% 0 0;
    line-height: 1.8;
    color: #fff;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.all_info .left{
    width: 50%;
    float: left;
}
.all_info .left li{
    padding:0 0 0 5%;
}
.all_info .right{
    width: 50%;
    padding-top: 10px;
    float: right;
}
.l1{
    font-family: SimSun
}
.l2{
    font-family: sans-serif
}
.l3{
    font-family: "Times New Roman"
}
.l4{
    font-family: 'YouYuan'
}
.l5{
    font-family:  Geneva
}
.l6{
    font-family: Arial
}
.l7{
    font-family: Helvetica
}
.three_btn span{
    width: 25%;
    margin: 0 2.5%;
    line-height: 1.5;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: 'YouYuan';
    border: 1px solid #fe7780;
    border-radius: 5px;
    cursor: pointer;
}
.three_btn span.s1{
    margin-top: 10px;
    transform:rotate(-10deg)
}
.three_btn span.s2{
    vertical-align: top;
}
.three_btn span.s3{
    transform:rotate(10deg)
}

.user_in{
    display: none;
    z-index: 1;
}
.book_info{
    position: relative;
    height: 100%;
    width: 70%;
    margin: 7% auto;
    padding: 10%;
    background: #fff;
    transition:all 1s ease;
    z-index: 2
}
.book_info .write{
    height: 50%;
    margin-top: 2%;
    text-align: left;
    outline: none;
}
.book_info.an{
    margin: -80% auto 0;
}
.book_info .btn{
    float: right;
}
.book_info .btn{
    color: #fff;
    background: #03f;
    border-radius: 10%;
}
/* 其他人的回答以及启发 */
.other_an,.qifa{
    display: none;
    text-align: center;
    line-height: 100%;
    font-size: 0;
    background: rgba(0,0,0,.6);
    z-index: 3;
}
.other_an ul,.qifa ul{
    display: inline-block;
    line-height: 1.5;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    text-shadow:4px 4px 12px rgba(174, 34, 151, 0.78);
    vertical-align: middle;
}
.other_an ul li,.qifa ul li{
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.alert_q{
    width: 300px;
    line-height: 4;
    text-align: center;
    background: rgba(0,0,0,.6);
}
.layui-layer-content{
    padding: 5%
}
/* 启发 */
.user_qifa{
    display: none;
}
.user_qifa .write_in{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 70%;
    height: 30%;
    padding: 5%;
    background: #fff;
    outline: none;
    overflow: auto;
}
.user_qifa .qifa{
    z-index: 4;
}
.user_qifa .get_more{
    position: absolute;
    top: 56%;
    right: 10%;
    width: 90%;
    text-align: right;
}
.user_qifa .get_more span{
    padding:0 5%;
    margin: 0 5px;
    /* border: 1px solid #ccc; */
    color: #fff;
    background: #03f;
    border-radius: 5%;
    cursor: pointer;
}
/* 提问 */
.user_tiwen{
    display: none;
}
.user_tiwen .write_in{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 70%;
    height: 30%;
    padding: 5%;
    background: #fff;
    outline: none;
    overflow: auto;
}
.user_tiwen .qifa{
    z-index: 4;
}
.user_tiwen .get_more{
    position: absolute;
    top: 56%;
    right: 10%;
    width: 90%;
    text-align: right;
}
.user_tiwen .get_more span{
    padding:0 5%;
    margin: 0 5px;
    /* border: 1px solid #ccc; */
    color: #fff;
    background: #03f;
    border-radius: 5%;
    cursor: pointer;
}

.content .fly_div{
    position: absolute;
    top: 22%;
    left: -40%;
    width: 40%;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    text-align: center;
    transform:translate(0);
    transition:all .5s linear;
}
.content .fly_div li{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.content .fly_div.animata{
    transform:translate(500%)
}
/*.brand-list .item {
    position: absolute;
    max-width: 50%;    
}
 .center {
    text-align: center;
}

.title_size {
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 20px #666;
}

.title_size .title_sub {
    font-size: 20px;
}

.title_content{
    height: 30%;
}

#main-bg {
    height: 100%;
    width: 100%;
    position: relative;
}

#content-bg {
    bottom: 50px;
    height: 70%;
    width: 90%;
    background: url('../img/content-bg.jpg') no-repeat center fixed;
    border: 4px solid #39333c;
    background-size: cover;
    margin: 0 50px auto;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    border-radius: 10px;
}

#mid-part,
#left-part,
#right-part {
    height: 100%;
    border: solid 4px #39333c;
    flex: 1;
    box-sizing: border-box;
}
 */