html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background: #aeee5a;
    height: 100%;
}

.round-corner {}

#main-bg {
    height: 100%;
    width: 100%;
    position: relative;
}

#content-bg {
    position: absolute;
    bottom: 50px;
    height: 80%;
    width: 100%;
    background: url('../img/content-bg.jpg') no-repeat center fixed;
    border: 10px solid #39333c;
    background-size: cover;
    position: absolute;
}

#mid-part,
#left-part,
#right-part {
    width: 33.33%;
    height: 100%;
    border: solid /*#39333c*/#ff0000;
    border-left: 20px;
    border-right: 20px;
    border-bottom: 50px;
    border-top: 50px;
}

#left-part {
    float: left;
}

#right-part {
    float: right;
}
